<div class="header">
  <!-- begin:: app-title -->
  <div class="header__first">
    <img class="logo" src="assets/images/logo.png" alt="Arjmand Test" />
    <span class="title">Arjmand Test</span>

    <!-- begin:: clock mobile -->
    <div class="header__first___mobile flex-column">
      <div class="time-box">

      </div>
      <span class="date">{{ date | date }}</span>
    </div>
    <!-- end:: clock mobile -->
  </div>
  <!-- end:: app-title -->

  <!-- begin:: clock -->
  <div class="header__second">
    <div class="time-box">
      <span class="date">{{ date | date}}</span>
    </div>
  
  </div>
  <!-- end:: clock -->

  <!-- begin:: user-dropdown and notification -->
  <div class="header__third">
 

  </div>
  <!-- end:: user-dropdown and notification -->
</div>