<p-table [columns]="cols" [value]="dataList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr appHighlightOnHover>
            <td *ngFor="let col of columns">
                <img class="img" *ngIf="col.type === 'img'" [src]="rowData[col.field]" alt="">
                <span class="downloadLink" *ngIf="col.type === 'file'"
                    (click)="downloadFile(rowData[col.field])">download File</span>
                <span *ngIf="col.type === 'text'">{{ rowData[col.field] }}</span>
                <div *ngIf="col.type === 'tools'" class="remove-btn" (click)="remove(rowIndex)">Remove</div>
            </td>
        </tr>
    </ng-template>
</p-table>