.report-section {
  .custom-head {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 222.5%;
      height: 28px;
      background-color: #f1f1f1;
      border-radius: 4px 4px 0 0;
    }
  }
}

.notification-tabs {
  .tab {
    position: relative;
  }
}
